@charset "utf-8";







body{
    border-left: 1px solid rgb(51, 51, 51);
    border-right: 1px solid rgb(51, 51, 51);
    box-shadow: rgb(0, 0, 0) 15px 0px 25px,
                   rgb(0, 0, 0) -15px 0px 25px;
    background-color: rgb(0, 170, 255);
    color: white;
 }

